<a href="https://colab.research.google.com/github/Nelsonedu/BackenMovil/blob/main/Ejercicio_de_Arboles_de_Decision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Arboles de Decision

In [ ]:
import pandas as pd

Cargar el dataset

In [ ]:
pacientes = pd.read_csv("Pacientes2.csv", engine="python", index_col=0)

Observar las primeras 5 lineas de codigo

In [ ]:
pacientes.head()

,Enfermedad,HIPERTEN,HIPERGLU,HDLBAJA,HIPERTRI,CINTALTA,EDAD,GENERO,FUMA,ALCOHOL,POLIURIA
NOEXPED,,,,,,,,,,,
1,NO,0,0,1,0,0,38,0,0,0,0
2,SI,0,1,1,1,1,49,1,0,0,0
3,SI,1,1,0,1,1,59,1,0,0,1
4,NO,1,1,0,0,0,44,0,0,0,0
5,NO,0,0,1,0,0,42,0,0,0,0

In [ ]:
pacientes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 985 entries, 1 to 909
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enfermedad  985 non-null    object
 1   HIPERTEN    985 non-null    int64
 2   HIPERGLU    985 non-null    int64
 3   HDLBAJA     985 non-null    int64
 4   HIPERTRI    985 non-null    int64
 5   CINTALTA    985 non-null    int64
 6   EDAD        985 non-null    int64
 7   GENERO      985 non-null    int64
 8   FUMA        985 non-null    int64
 9   ALCOHOL     985 non-null    int64
 10  POLIURIA    985 non-null    int64
dtypes: int64(10), object(1)
memory usage: 92.3+ KB

Separar las columnas de variables predictoras de la columna que contiene la variable a predecir

In [ ]:
# Variables predictoras
x = pacientes.iloc[:,1:11]

# Variables a predecir
y = pacientes.iloc[:,0]

#Mostrar los primeros datos
x.head()

,HIPERTEN,HIPERGLU,HDLBAJA,HIPERTRI,CINTALTA,EDAD,GENERO,FUMA,ALCOHOL,POLIURIA
NOEXPED,,,,,,,,,,
1,0,0,1,0,0,38,0,0,0,0
2,0,1,1,1,1,49,1,0,0,0
3,1,1,0,1,1,59,1,0,0,1
4,1,1,0,0,0,44,0,0,0,0
5,0,0,1,0,0,42,0,0,0,0

Datos de entrenamiento y testing

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.75, random_state=0)

In [ ]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738 entries, 731 to 28
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HIPERTEN  738 non-null    int64
 1   HIPERGLU  738 non-null    int64
 2   HDLBAJA   738 non-null    int64
 3   HIPERTRI  738 non-null    int64
 4   CINTALTA  738 non-null    int64
 5   EDAD      738 non-null    int64
 6   GENERO    738 non-null    int64
 7   FUMA      738 non-null    int64
 8   ALCOHOL   738 non-null    int64
 9   POLIURIA  738 non-null    int64
dtypes: int64(10)
memory usage: 63.4 KB

Crear el arbol de decision

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
arbol = DecisionTreeClassifier(max_depth=4)

Entrenamiento

In [ ]:
arbol_ennfermedad = arbol.fit(x_train, y_train)

Graficos

In [ ]:
from matplotlib import pyplot as plt